// .table-data {
//   margin: 0 auto;
//   width: 80%;
// }
.mananger-users-container {
  margin: 0 auto;
  width: 80%;
}
.column-no {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
